
    *{
      padding:0;
      box-sizing: border-box;
    }

    header{
      background:yellow;
      height: 200px;
      margin-bottom: 10px;
    }

    /* contenitori centrali */
    main{
      background:;
      height: 500px;
      margin-bottom: 10px;
    }
    main .sidebar,
    main .main-content{
      float: left;
    }
    main .sidebar{
      width: calc(25% - 20px);
      height: 350px;
      background:#ff00a745;
      margin-right: 20px;

    }
    main .main-content{
      width: calc(50% - 20px);
      height: 500px;
      background:#80007e;
      margin-right: 20px;
    }
    .box-right{
      width: 25%;
      height: 500px;
      float: left;
    }

    .box{
      width: 100%;
      height: 50%;
      background:#ff00a745;
      padding: 10px;
    }
    .box.one{
      background:#ff00a745;
      margin-bottom: 20px;
      height: calc(50% - 20px);
    }
    /* fine parte centrale */

    footer{
      background: #00ffff9c;
      height: 200px;
    }
